@page
@model Emigrant.App.Frontend.Pages.RegistroNecesidadModel
@{
}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1 class="titulo-registro">Registro Necesidad</h1>
<form method="post">
    <input type="hidden" asp-for="necesidad.id">

    <div class="form-row">
        <div class="form-group col-md-12">

            <input type="hidden" asp-for="necesidad.Migrante" value=@UserManager.GetUserId(User) class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="necesidad.detalles"></label>
            <input asp-for="necesidad.detalles" class="form-control">
        </div>
    </div>


    <div class="form-row">

        <div class="form-group col-md-6">
            <label asp-for="necesidad.tipoServicio"></label>
            <select asp-for="necesidad.tipoServicio" class="form-control" aria-label=".form-select-lg example">
                <option selected>Seleccion tipo novedad</option>
                <option value=0>Salud</option>
                <option value=1>Juridico</option>
                <option value=2>Empleo</option>
                <option value=3>Alojamiento Temporal</option>
                <option value=4>Alojamiento Permanente</option>
                <option value=5>Educación</option>
            </select>
        </div>


        <div class="form-group col-md-6">
            <label asp-for="necesidad.prioridad"></label>
            <select asp-for="necesidad.prioridad" class="form-control" aria-label=".form-select-lg example">
                <option selected>Seleccion ciudad</option>
                <option value="0">Baja</option>
                <option value="1">Media</option>
                <option value="2">Alta</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-5">Registrar</button>
    </div>

</form>
